{% extends "base.html" %}

{% block content %}

<form action="" method="POST" class=" space-y-5 " enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-2xl font-semibold mb-2 text-blue-600 underline">Update Form </h1>
    <div>
        {{ form.as_p}}
    </div>
    <hr >
    <div class="mt-4">
        <h1 class="text-2xl font-semibold mb-2 text-blue-600 underline">Manage Form </h1>
        {{ formset.management_form }}
        <div class="pb-3 border-b space-y-3" id="attachments">
            {% for form in formset %}
            <div>
                {{ form.as_p }}
            </div>
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn-submit mt-2">Save</button>
    <button id="add-attachment-btn" class="btn-submit mt-2">Add Attachment</button>
</form>

<div class='hidden' id="blank-form">
    {{ formset.empty_form }}
</div>



<script>
    
    const blankFormElement=document.querySelector("#blank-form")
    const addAttachmentBtn=document.querySelector("#add-attachment-btn")
    const attachmentContainer=document.querySelector('#attachments')
    const managenentFormInputElement=document.querySelector("#id_form-TOTAL_FORMS")


    function cloneBlankForm(){
        if(blankFormElement){
            const newBlankForm=blankFormElement.cloneNode(true)
            const totalFormValue=parseInt(managenentFormInputElement.value)
            var formRegex=new RegExp(`__prefix__`,'g');
            newBlankForm.innerHTML=newBlankForm.innerHTML.replace(formRegex,totalFormValue)
            managenentFormInputElement.value=totalFormValue+1
            newBlankForm.classList.add("attachment-form")
            newBlankForm.classList.remove("hidden")
            newBlankForm.removeAttribute("id")
            
            console.log(managenentFormInputElement.value);
            return newBlankForm
        }
    }
    
    function handleAttachmentBtnClick(){
        if(event){
            event.preventDefault()
        }
        const newForm=cloneBlankForm()
        attachmentContainer.appendChild(newForm)
    }
    
    addAttachmentBtn.addEventListener("click",handleAttachmentBtnClick);

</script>


{% endblock %} 